<h1>Scrabble Scorer</h1>

<p>Find out the score for a scrabble word!</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="word">Enter word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Score It!</button>
</form>